.awesome, .awesome:visited {
    display: inline-block; 
    position: relative;
    background: #222222 url(/images/alert-overlay.png) repeat-x; 
    margin: 0;
    margin-left: 5px;
    border: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    cursor: pointer;
}

.awesome:active {
	top: 2px;
}

.awesome.magenta:hover {
	background-color: #630030;
}

.awesome.magenta.big {
	height: 115px;
	width: 500px;
}

.awesome.disabled, .awesome.disabled:visited {
	cursor: default;
	opacity: 0.5;
}

.awesome.disabled:hover {
	opacity: 0.5;
}

.awesome.disabled:active {
  opacity: 0.5;
  top: 0;
}

.awesome.disabled.big {
	height: 115px;
	width: 500px;
}

#icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
}

#centericon {
	display: block;
	text-align: center;
  margin-top: 5px;
}

#text {
	display: inline-block;
	vertical-align: middle;
}

#breaktext {
	display: block;
	vertical-align: middle;
	text-align: center;
}
