html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Ubuntu", "DejaVu Sans", arial, sans-serif;
	background: #3d3d3d;
	color: #fff;
}

h1 {
	text-align: center;
}

p.notice {
	display: block;
	background: #058a03 url(/images/alert-overlay.png) repeat-x;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	vertical-align: middle;
	font-size: 20px;
	padding: 1em;
	margin-top: 11px;
	margin-bottom: 0;
}

p.alert {
	display: block;
	background: #aa0024 url(/images/alert-overlay.png) repeat-x;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	vertical-align: middle;
	font-size: 20px;
	padding: 1em;
	margin-top: 11px;
	margin-bottom: 0;
}

a:link, a:visited, a:hover, a:active {
	color: #fff;
	text-decoration: none;
}

#subtitle {
	font-size: 50%;
	font-style: italic;
	text-align: left;
	margin-top: -0.5em;
	margin-left: 2em;
}

#container {
	position: relative;
	margin: 0 auto;
	height: auto !important;
	min-height: 100%;
	height: 100%;
	width: 740px;
}

#header {
	font-size: 300%;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #222;
	padding: 30px;
}

#buttonset {
	margin-top: 11px;
	text-align: right;
}

#content {
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: #222244;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 11px;
	min-height: 500px;
}

#footer {
	text-shadow: 1px 1px 0 #000;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: #222;
	text-align: center;
	font-size: small;
	height: 15px;
	padding: 15px;
	width: 710px;
}

img {
	border: 0;
}
